.root {
	-fx-font-size: 9pt;
	-fx-font-family: "Consolas";
	/*fx-base: #9fbcea;
	-fx-background: #9fbcea;*/
}

.dock-area-indicator {
	-fx-fill: -fx-selection-bar;
	-fx-opacity: 0.5;
	-fx-stroke: rgba(50.0, 50.0, 100.0, 0.4);
	-fx-stroke-width: 6.0;
	-fx-stroke-type: inside;
	-fx-stroke-dash-array: 8.0 4.0;
	-fx-stroke-line-cap: butt;
}

/* JavaFX developers really seem to have fat fingers? */
.dock-pos-indicator .button {
	-fx-padding: 4.0;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

/* This stops the stack pane containing the aligned
 * root dock position indicators from offsetting
 * them when one of them is set to the hover style.
 * It gives them just enough room to breathe from the border.
 */
.dock-root-pane {
	-fx-padding: 5.0;
}

/* JavaFX developers really seem to have fat fingers? */
.dock-root-pane .button {
	-fx-padding: 4.0;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

/* Set the icons for the indicator buttons here. */
/*.dock-center {
  -fx-graphic: url(center.png);
}

.dock-top {
  -fx-graphic: url(top.png);
}

.dock-right {
  -fx-graphic: url(right.png);
}

.dock-bottom {
  -fx-graphic: url(bottom.png);
}

.dock-left {
  -fx-graphic: url(left.png);
}

.dock-top-root {
  -fx-graphic: url(top.png);
}

.dock-right-root {
  -fx-graphic: url(right.png);
}

.dock-bottom-root {
  -fx-graphic: url(bottom.png);
}

.dock-left-root {
  -fx-graphic: url(left.png);
}

/*******************************************************************************
 *                                                                             *
 * DockNode                                                                    *
 *                                                                             *
 ******************************************************************************/
.dock-node-border {
	-fx-padding: 5.0;
	-fx-background-color: transparent;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 10.0,
		0.2, 0.0, 0.0);
}

.dock-node-border:maximized {
	-fx-padding: 0.0;
}

/* It is necessary that dock node's have a background color
 * because some panes used as content such as TabPane with empty
 * tabs will be fully transparent.
 */
.dock-node {
	-fx-background-color: -fx-background;
}

.dock-title-bar .button {
	-fx-padding: 1.0 4.0 1.0 4.0;
}

.dock-title-bar {
	-fx-background-color: -fx-background;
	-fx-padding: 2.0;
	-fx-spacing: 3.0;
	-fx-border-width: 1 0 1 0;
	-fx-border-color: -fx-outer-border;
}

.dock-title-label {
	-fx-graphic: url(docknode.png);
	-fx-padding: 0.0 0.0 3.0 0.0;
	-fx-text-fill: -fx-text-base-color;
	-fx-effect: dropshadow(gaussian, rgba(255.0, 255.0, 255.0, 0.2), 0.0,
		0.0, 0.0, 1.0);
}

/* We want small buttons for our dock's title bar
 * but we have to make sure that the top and bottom
 * are a good ratio of the left and right padding.
 * If not we get extra padding on the bottom when the
 * button is hovered, some factor of the default style's
 * excessively wide buttons.
 */

/* Set the icons for the dock title bar's buttons here. */
.dock-state-button {
	-fx-graphic: url(restore.png);
	-fx-background-color: transparent;
}

.dock-node:floating .dock-state-button {
	-fx-graphic: url(maximize.png);
	-fx-background-color: transparent;
}

.dock-node:maximized .dock-state-button {
	-fx-graphic: url(restore.png);
	-fx-background-color: transparent;
}

.dock-close-button {
	-fx-graphic: url(close.png);
	-fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.lineno {
	-fx-background-color: #303030;
}

.styled-text-area {
	-fx-font-size: 9pt;
	-fx-font-family: "Consolas";
}

.styled-text-area .text {
	-fx-fill: black;
}

.styled-text-area .text.keyword {
	-fx-fill: #f82671;
	-fx-font-weight: bold;
}

.styled-text-area .text.function {
	-fx-fill: #3465a4;
	-fx-font-weight: bold;
}

.styled-text-area .text.semicolon {
	-fx-fill: #f82671;
	-fx-font-weight: bold;
}

.styled-text-area .text.paren {
	-fx-fill: black;
}

.styled-text-area .text.bracket {
	-fx-fill: black;
	-fx-font-weight: bold;
}

.styled-text-area .text.brace {
	-fx-fill: black;
	-fx-font-weight: bold;
}

.styled-text-area .text.string {
	-fx-fill: #729fcf;
}

.styled-text-area .text.string2 {
	-fx-fill: #729fcf;
}

.styled-text-area .text.var {
	-fx-fill: #e9b96e;
}

.styled-text-area .text.todo {
	-fx-fill: #40E0D0;
	-fx-font-weight: bold;
}

.styled-text-area .text.warn {
	-fx-fill: #FF0000;
	-fx-font-weight: bold;
}

.styled-text-area .text.comment {
	-fx-fill: #C0C0C0;
}

.styled-text-area .text.annotation {
	-fx-fill: #69d7ee;
	-fx-font-weight: bold;
}

.styled-text-area .text.cast {
	-fx-fill: #65d8ee;
}

.styled-text-area .text.operation {
	-fx-fill: #e17b20;
}

.styled-text-area .text.hex {
	-fx-fill: #ff5555;
}

.styled-text-area .text.number {
	-fx-fill: #ae81ff;
}

.styled-text-area .text.method {
	-fx-fill: #000000;
}

.paragraph-box:has-caret {
	
}

.caret {
	-fx-stroke: black;
}