/*#ade9ff */
/*#ade9ff */
.root {
	-fx-font-size: 9.0pt;
	-fx-font-family: "Open Sans";
	/*fx-base: #9fbcea;
	-fx-background: #9fbcea;*/
	/* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars;
     * default buttons.
     */
    -fx-accent: #ade9ff;

    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     *
     * TODO: should this be derived from -fx-accent?
     */
    -fx-focus-color: #ade9ff;
    	-fx-faint-focus-color: transparent;

}

.dock-area-indicator {
	-fx-fill: -fx-selection-bar;
	-fx-opacity: 0.5;
	-fx-stroke: rgba(50.0, 50.0, 100.0, 0.4);
	-fx-stroke-width: 6.0;
	-fx-stroke-type: inside;
	-fx-stroke-dash-array: 8.0 4.0;
	-fx-stroke-line-cap: butt;
}

/* JavaFX developers really seem to have fat fingers? */
.dock-pos-indicator .button {
	-fx-padding: 4.0;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

/* This stops the stack pane containing the aligned
 * root dock position indicators from offsetting
 * them when one of them is set to the hover style.
 * It gives them just enough room to breathe from the border.
 */
.dock-root-pane {
	-fx-padding: 5.0;
}

/* JavaFX developers really seem to have fat fingers? */
.dock-root-pane .button {
	-fx-padding: 4.0;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

/* Set the icons for the indicator buttons here. */
/*.dock-center {
  -fx-graphic: url(center.png);
}

.dock-top {
  -fx-graphic: url(top.png);
}

.dock-right {
  -fx-graphic: url(right.png);
}

.dock-bottom {
  -fx-graphic: url(bottom.png);
}

.dock-left {
  -fx-graphic: url(left.png);
}

.dock-top-root {
  -fx-graphic: url(top.png);
}

.dock-right-root {
  -fx-graphic: url(right.png);
}

.dock-bottom-root {
  -fx-graphic: url(bottom.png);
}

.dock-left-root {
  -fx-graphic: url(left.png);
}

/*******************************************************************************
 *                                                                             *
 * DockNode                                                                    *
 *                                                                             *
 ******************************************************************************/
.dock-node-border {
	-fx-padding: 5.0;
	-fx-background-color: transparent;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 10.0,
		0.2, 0.0, 0.0);
}

.dock-node-border:maximized {
	-fx-padding: 0.0;
}

/* It is necessary that dock node's have a background color
 * because some panes used as content such as TabPane with empty
 * tabs will be fully transparent.
 */
.dock-node {
	-fx-background-color: -fx-background;
}

.dock-title-bar .button {
	-fx-padding: 1.0 4.0 1.0 4.0;
}

.dock-title-bar {
	-fx-background-color: -fx-background;
	-fx-padding: 2.0;
	-fx-spacing: 3.0;
	-fx-border-width: 1.0 0.0 1.0 0.0;
	-fx-border-color: -fx-outer-border;
}

.dock-title-label {
	-fx-graphic: url(docknode.png);
	-fx-padding: 0.0 0.0 3.0 0.0;
	-fx-text-fill: -fx-text-base-color;
	-fx-effect: dropshadow(gaussian, rgba(255.0, 255.0, 255.0, 0.2), 0.0,
		0.0, 0.0, 1.0);
}

/* We want small buttons for our dock's title bar
 * but we have to make sure that the top and bottom
 * are a good ratio of the left and right padding.
 * If not we get extra padding on the bottom when the
 * button is hovered, some factor of the default style's
 * excessively wide buttons.
 */

/* Set the icons for the dock title bar's buttons here. */
.dock-state-button {
	-fx-graphic: url(restore.png);
	-fx-background-color: transparent;
}

.dock-node:floating .dock-state-button {
	-fx-graphic: url(maximize.png);
	-fx-background-color: transparent;
}

.dock-node:maximized .dock-state-button {
	-fx-graphic: url(restore.png);
	-fx-background-color: transparent;
}

.dock-close-button {
	-fx-graphic: url(close.png);
	-fx-background-color: transparent;
}

.button {
	-fx-background-color: transparent;
}

.button:focused {
	-fx-focus-color: #ade9ff;
	-fx-background-color: #ade9ff;
}

.button:hover {
	-fx-background-color: #ade9ff;
}

.text-field {
	-fx-background-color: transparent;
	-fx-border-color: #c0c0c0;
	-fx-background-radius: 3.0;
	-fx-border-radius: 0.0;
	-fx-border-width: 0.0 0.0 2.0 0.0;
	-fx-background-insets: 0.0;
}

.text-field:focused {
	-fx-border-color: "#ade9ff";
	-fx-text-fill:black;
	-fx-fill:black;
    -fx-prompt-text-fill:black;
}

.text-area {
	-fx-background-color: white;
	-fx-border-color: #c0c0c0;
	-fx-background-radius: 3.0;
	-fx-border-radius: 3.0;
	-fx-border-width: 1.0 1.0 1.0 1.0;
	-fx-background-insets: 0.0;
}

.text-area .content {
	-fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
	-fx-border-color: "#ade9ff";
	-fx-text-fill:black;
	-fx-fill:black;
    -fx-prompt-text-fill:black;
}

.tab-pane {
	-fx-tab-min-width: 2.0em;
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: transparent;
}

.tab {
	/*-fx-background-insets: 0 1 0 1, 0, 0;*/
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	/*-fx-border-width: 0 1 0 1;*/
}

.tab-pane .tab {
	-fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected {
	-fx-background-color: transparent;
	-fx-background-radius: 0.0;
	-fx-border-radius: 3.0;
	-fx-background-insets: 0.0;
	-fx-border-width: 2.0 2.0 0.0 2.0;
	-fx-border-color: #ade9ff;
}

.tab .tab-label {
	/*-fx-alignment: CENTER;
	-fx-text-fill: #828282;
	-fx-font-size: 12px;
	-fx-font-weight: bold;*/
	
}

.tab:selected .tab-label {
	-fx-alignment: CENTER;
}

.tab-content-area {
	-fx-padding: 4.0;
	-fx-background-color: transparent;
}

.combo-box .list-view:focused .list-cell:selected {
	-fx-background-color: "#ade9ff";
	-fx-table-cell-border-color: "#ade9ff";
	-fx-text-fill: BLACK;
}

.list-view {
	-fx-list-color: "#ade9ff";
	-fx-background-color: #F3F3F3, -fx-control-inner-background;
	-fx-background-insets: 0.0, 1.0;
	-fx-padding: 1.0;
	-fx-border-width: 1.0;
	-fx-border-color: #c0c0c0;
}

.list-view:focused .list-cell:selected {
	-fx-background-color: -fx-list-color;
	-fx-table-cell-border-color: -fx-list-color;
	/*-fx-text-fill: BLACK;*/
}

.table-view {
	-fx-table-color: "#ade9ff";
	-fx-table-rippler-color: "#90c9dd";
	-fx-background-color: #F3F3F3, -fx-control-inner-background;
	-fx-padding: 1.0;
}

.table-view:focused .table-row-cell:selected {
	-fx-background-color: -fx-table-color;
	-fx-table-cell-border-color: -fx-table-color;
	/*-fx-text-fill: BLACK;*/
}

/* .table-view:focused .table-row-cell:selected .table-cell {
	-fx-text-fill: BLACK;
}
*/
.table-view .column-header, .table-view .column-header-background,
	.table-view .column-header-background .filler {
	-fx-background-color: TRANSPARENT;
}

.table-view .column-header {
	-fx-border-width: 0.0 1.0 0.0 1.0;
	-fx-border-color: #F3F3F3;
}

.table-view .column-header .label {
	-fx-text-fill: #949494;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot
	{
	-fx-background-color: #949494;
}

.table-view .column-header-background {
	-fx-border-width: 0.0 0.0 1.0 0.0;
	-fx-border-color: #F3F3F3;
}

.table-view .table-cell {
	-fx-alignment: center;
}

.table-view .column-overlay {
	-fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
	-fx-background-color: -fx-table-rippler-color;
}

.table-row-cell {
	/*-fx-cell-size: 32px;*/
}

/*.table-row-cell:odd {
	-fx-background-color: transparent;
}

.table-row-cell:even {
	-fx-background-color: transparent;	
}*/

.table-row-cell:grouped {
	-fx-background-color: rgb(230.0, 230.0, 230.0);
}

.table-view .menu-item:focused {
	-fx-background-color: -fx-table-color;
}

.table-view .menu-item .label {
	-fx-padding: 5.0 0.0 5.0 0.0;
}

.tool-bar {
	-fx-background-color: TRANSPARENT;
}

.check-box {
	-unchecked-color: #f98686;
	-checked-color: #13c66f;
}

.check-box .box-container {
	-fx-shape:
		"M 400 100 L 400 100 A 50 50 0 1 1 400 250 A 50 50 0 1 1 400 100 ";
	-fx-padding: 10.0;
}

.check-box .box, .check-box:indeterminate .box, .check-box:indeterminate:selected .box
	{
	-fx-pref-width: 18.0;
	-fx-pref-height: 18.0;
	-fx-min-width: -fx-pref-width;
	-fx-max-width: -fx-pref-width;
	-fx-min-height: -fx-pref-height;
	-fx-max-height: -fx-pref-height;
	-fx-background-color: TRANSPARENT;
	-fx-background-radius: 2.0;
	-fx-border-color: -unchecked-color;
	-fx-border-style: solid;
	-fx-border-radius: 2.0;
	-fx-border-width: 2.0;
}

.check-box:selected .box {
	-fx-border-color: -checked-color;
}

.check-box .mark {
	-fx-shape: "M384 690l452-452 60 60-512 512-238-238 60-60z";
	-fx-max-width: 15.0;
	-fx-max-height: 12.0;
	-fx-border-width: 2.0;
	-fx-border-radius: 2.0;
}

.check-box .indeterminate-mark {
	-fx-background-color: -checked-color;
	-fx-background-radius: 2.0;
	-fx-border-width: 0.0;
	-fx-max-width: 10.0;
	-fx-max-height: 10.0;
}

/* PieChart
/* Colors of JavaFX pie chart slices. */
.chart-pie {
	/* -fx-border-color: "55b5f4"; */
	-fx-border-style: hidden;
	/* -fx-border-width: 2; */
}

.data0.chart-pie {
	-fx-pie-color: "d87fb2";
}

.data1.chart-pie {
	-fx-pie-color: "ed5a5a";
}

.data2.chart-pie {
	-fx-pie-color: "7f9cd8";
}

.data3.chart-pie {
	-fx-pie-color: "7fd8d0";
}

.data4.chart-pie {
	-fx-pie-color: "b8d87f";
}

.data5.chart-pie {
	-fx-pie-color: "9e7fd8";
}

.data6.chart-pie {
	-fx-pie-color: "75c7d8";
}

.data7.chart-pie {
	-fx-pie-color: "d8af75";
}

.data8.chart-pie {
	-fx-pie-color: "e27979";
}

.data9.chart-pie {
	-fx-pie-color: "97e279";
}

.data10.chart-pie {
	-fx-pie-color: "#7ab3e2";
}

.split-pane {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.split-pane:horizontal>.split-pane-divider {
	-fx-padding: 1.0;
}

.split-pane:vertical>.split-pane-divider {
	-fx-padding: 1.0;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-border-radius: 2.0em;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button
	{
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 0.0 5.0 0.0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button
	{
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 5.0 0.0 0.0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow
	{
	-fx-shape: " ";
	-fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
	-fx-background-color: derive(black, 90.0%);
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
	-fx-background-color: derive(BLACK, 70.0%);
	-fx-background-insets: 2.0;
	-fx-background-radius: 2.0em;
}

.vbox {
	-fx-background-color: transparent;
}

.hbox {
	-fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.popover>.content {
	-fx-padding: 10.0;
	-fx-background-color: transparent;
}

.combo-box-base {
	-fx-background-color: transparent;
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
}

.combo-box-base:focused {
	-fx-background-color: transparent;
	-fx-border-radius: 0.0;
	-fx-border-width: 0.0 0.0 2.0 0.0;
	-fx-border-color: #ade9ff;
}

.combo-box-popup .list-view .list-cell:filled:hover {
	-fx-background-color: #ade9ff;
	-fx-text-fill: black;
}

.context-menu {
	-fx-background-color: white;
}

/* .menu-item:focused .label {
	-fx-text-fill: black;
	-fx-background-color: #ade9ff;
}

.menu-item:focused {
	-fx-background-color: #ade9ff;
	-fx-text-fill: black;
}

.menu-item:hover {
	-fx-background-color: #ade9ff;
	-fx-text-fill: black;
}

.menu-bar .label:hover {
	-fx-background-color: #ade9ff;
	-fx-text-fill: black;
}

.menu-bar .label:focused {
	-fx-background-color: #ade9ff;
	-fx-focus-color: #ade9ff;
	-fx-text-fill: black;
}

.menu:hover {
	-fx-background-color: #ade9ff;
	-fx-text-fill: black;
}
*/
/*
#ade9ff
.menu-item {
		-fx-focus-color: "#ade9ff";
		-fx-text-fill: BLACK;
}

.menu-item:hover {
    -fx-text-fill: BLACK;
    -fx-background-color: "#ade9ff";
}

.menu-item:focused .text {
		-fx-text-fill: BLACK;
}
*/
.lineno {
	-fx-background-color: #303030;
}

	/*fx-font-size: 14px;*/
.styled-text-area .selection {
    -fx-fill: #ade9ff;
}

.styled-text-area .text {
	-fx-fill: black;
}

.styled-text-area .text.keyword {
	-fx-fill: #f82671;
	-fx-font-weight: bold;
}

.styled-text-area .text.function {
	-fx-fill: #3465a4;
	-fx-font-weight: bold;
}

.styled-text-area .text.semicolon {
	-fx-fill: #f82671;
	-fx-font-weight: bold;
}

.styled-text-area .text.paren {
	-fx-fill: black;
}

.styled-text-area .text.bracket {
	-fx-fill: black;
	-fx-font-weight: bold;
}

.styled-text-area .text.brace {
	-fx-fill: black;
	-fx-font-weight: bold;
}

.styled-text-area .text.string {
	-fx-fill: #729fcf;
}

.styled-text-area .text.string2 {
	-fx-fill: #729fcf;
}

.styled-text-area .text.todo {
	-fx-fill: #40E0D0;
	-fx-font-weight: bold;
}

.styled-text-area .text.warn {
	-fx-fill: #FF0000;
	-fx-font-weight: bold;
}

.styled-text-area .text.comment {
	-fx-fill: #C0C0C0;
}

.styled-text-area .text.annotation {
	-fx-fill: #69d7ee;
	-fx-font-weight: bold;
}

.styled-text-area .text.cast {
	-fx-fill: #65d8ee;
}

.styled-text-area .text.operation {
	-fx-fill: #e17b20;
}

.styled-text-area .text.hex {
	-fx-fill: #ff5555;
}

.styled-text-area .text.number {
	-fx-fill: #ae81ff;
}

.styled-text-area .text.method {
	-fx-fill: #000000;
}

.paragraph-box:has-caret {
	
}

.caret {
	-fx-stroke: black;
}