.lineno {
 -fx-background-color: #303030;
}

.styled-text-area{
  -fx-background-color: #272822;
}

.styled-text-area .text{
  -fx-fill: #f8f8f2;
}

.styled-text-area .text.keyword {
    -fx-fill: #f82671;
    -fx-font-weight: bold;
}

.styled-text-area .text.semicolon {
    -fx-fill: #f82671;
    -fx-font-weight: bold;
}

.styled-text-area .text.paren {
    -fx-fill: #f8f8f2;
    -fx-font-weight: bold;
}

.styled-text-area .text.bracket {
    -fx-fill: #f8f8f2;
    -fx-font-weight: bold;
}

.styled-text-area .text.brace {
    -fx-fill: #f8f8f2;
    -fx-font-weight: bold;
}

.styled-text-area .text.string {
    -fx-fill: #e6da74;
}

.styled-text-area .text.todo {
 	-fx-fill: #40E0D0;
 	-fx-font-weight: bold;
}

.styled-text-area .text.warn {
  	-fx-fill: #FF0000;
  	-fx-font-weight: bold;
}

.styled-text-area .text.comment {
 	-fx-fill: #C0C0C0;
}

.styled-text-area .text.annotation {
	-fx-fill: #69d7ee;
	-fx-font-weight: bold;
}

.styled-text-area .text.cast {
	-fx-fill: #65d8ee;
}

.styled-text-area .text.operation {
  -fx-fill: #e17b20;
}

.styled-text-area .text.hex{
  -fx-fill: #ff5555;
}

.styled-text-area .text.number{
  -fx-fill: #ae81ff;
}

.styled-text-area .text.method{
  -fx-fill: #69d7ee;
}

.paragraph-box:has-caret {
   -fx-background-color: #1c1c1c99;
}

.caret {
   -fx-stroke: #f8f8f2;
}