
.dock-area-indicator {
	-fx-fill: -fx-selection-bar;
	-fx-opacity: 0.5;
	-fx-stroke: rgba(50.0, 50.0, 100.0, 0.4);
	-fx-stroke-width: 6.0;
	-fx-stroke-type: inside;
	-fx-stroke-dash-array: 8.0 4.0;
	-fx-stroke-line-cap: butt;
}

/* JavaFX developers really seem to have fat fingers? */
.dock-pos-indicator .button {
	-fx-padding: 4.0;
	/*-fx-background-color: transparent;*/
	-fx-border-color: transparent;
}

/* This stops the stack pane containing the aligned
 * root dock position indicators from offsetting
 * them when one of them is set to the hover style.
 * It gives them just enough room to breathe from the border.
 */
.dock-root-pane {
	-fx-padding: 5.0;
}

/* JavaFX developers really seem to have fat fingers? */
.dock-root-pane .button {
	-fx-padding: 4.0;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

/* Set the icons for the indicator buttons here. */
.dock-center {
  -fx-graphic: url(pin.png);
}

.dock-top {
  -fx-graphic: url(pin.png);
}

.dock-right {
  -fx-graphic: url(pin.png);
}

.dock-bottom {
  -fx-graphic: url(pin.png);
}

.dock-left {
  -fx-graphic: url(pin.png);
}

.dock-top-root {
  -fx-graphic: url(pin.png);
}

.dock-right-root {
  -fx-graphic: url(pin.png);
}

.dock-bottom-root {
  -fx-graphic: url(pin.png);
}

.dock-left-root {
  -fx-graphic: url(pin.png);
}

/*******************************************************************************
 *                                                                             *
 * DockNode                                                                    *
 *                                                                             *
 ******************************************************************************/
.dock-node-border {
	-fx-padding: 5.0;
	-fx-background-color: transparent;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 10.0,
		0.2, 0.0, 0.0);
}

.dock-node-border:maximized {
	-fx-padding: 0.0;
}

/* It is necessary that dock node's have a background color
 * because some panes used as content such as TabPane with empty
 * tabs will be fully transparent.
 */
.dock-node {
	-fx-background-color: -fx-background;
}

.dock-title-bar .button {
	-fx-padding: 1.0 4.0 1.0 4.0;
}

.dock-title-bar {
	-fx-background-color: -fx-background;
	-fx-padding: 2.0;
	-fx-spacing: 3.0;
	-fx-border-width: 1 0 1 0;
	-fx-border-color: -fx-outer-border;
}

.dock-title-label {
	-fx-graphic: url(docknode.png);
	-fx-padding: 0.0 0.0 3.0 0.0;
	-fx-text-fill: -fx-text-base-color;
	-fx-effect: dropshadow(gaussian, rgba(255.0, 255.0, 255.0, 0.2), 0.0,
		0.0, 0.0, 1.0);
}

/* We want small buttons for our dock's title bar
 * but we have to make sure that the top and bottom
 * are a good ratio of the left and right padding.
 * If not we get extra padding on the bottom when the
 * button is hovered, some factor of the default style's
 * excessively wide buttons.
 */

/* Set the icons for the dock title bar's buttons here. */
.dock-state-button {
	-fx-graphic: url(restore.png);
	-fx-background-color: transparent;
}

.dock-node:floating .dock-state-button {
	-fx-graphic: url(maximize.png);
	-fx-background-color: transparent;
}

.dock-node:maximized .dock-state-button {
	-fx-graphic: url(restore.png);
	-fx-background-color: transparent;
}

.dock-close-button {
	-fx-graphic: url(close.png);
	-fx-background-color: transparent;
}

.popover>.content {
	-fx-padding: 10.0;
	-fx-background-color: transparent;
}
