.root { 
    -fx-accent: #1a6ee4;
    -fx-focus-color: -fx-accent;
    -fx-base: #ededed;
    -fx-control-inner-background: derive(-fx-base,30%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);
    -fx-faint-focus-color: transparent;
    -fx-font-size: 13pt;
	/*-fx-selection-bar-non-focused: derive(-fx-accent,30%);*/
	-fx-selection-bar-non-focused: derive(-fx-base,90%);
}
 
.dock-area-indicator {
	-fx-fill: -fx-selection-bar;
	-fx-opacity: 0.5;
	-fx-stroke: rgba(50.0, 50.0, 100.0, 0.4);
	-fx-stroke-width: 6.0;
	-fx-stroke-type: inside;
	-fx-stroke-dash-array: 8.0 4.0;
	-fx-stroke-line-cap: butt;
}

.dock-top {
  -fx-graphic: url(../styles/flat-dark/icons/pin.png);
}

.dock-right {
  -fx-graphic: url(../styles/flat-dark/icons/pin.png);
}

.dock-bottom {
  -fx-graphic: url(../styles/flat-dark/icons/pin.png);
}

.dock-left {
  -fx-graphic: url(../styles/flat-dark/icons/pin.png);
}

.dock-center {
  -fx-graphic: url(../styles/flat-dark/icons/pin.png);
}

.dock-top-root {
  -fx-graphic: url(../styles/flat-dark/icons/pin.png);
}

.dock-right-root {
  -fx-graphic: url(../styles/flat-dark/icons/pin.png);
}

.dock-bottom-root {
  -fx-graphic: url(../styles/flat-dark/icons/pin.png);
}

.dock-left-root {
  -fx-graphic: url(../styles/flat-dark/icons/pin.png);
}

/* JavaFX developers really seem to have fat fingers? */
.dock-pos-indicator .button {
	-fx-padding: 4.0;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

/* This stops the stack pane containing the aligned
 * root dock position indicators from offsetting
 * them when one of them is set to the hover style.
 * It gives them just enough room to breathe from the border.
 */
.dock-root-pane {
	-fx-padding: 5.0;
}

/* JavaFX developers really seem to have fat fingers? */
.dock-root-pane .button {
	-fx-padding: 4.0;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.dock-node-border {
	-fx-padding: 5.0;
	-fx-background-color: transparent;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 10.0,
		0.2, 0.0, 0.0);
}

.dock-node-border:maximized {
	-fx-padding: 0.0;
}

/* It is necessary that dock node's have a background color
 * because some panes used as content such as TabPane with empty
 * tabs will be fully transparent.
 */
.dock-node {
	-fx-background-color: -fx-background;
}

.dock-title-bar .button {
	-fx-padding: 1.0 4.0 1.0 4.0;
}

.dock-title-bar {
	-fx-background-color: -fx-background;
	-fx-padding: 2.0;
	-fx-spacing: 3.0;
	-fx-border-width: 0.0 0.0 0.0 0.0;
	-fx-border-color: -fx-outer-border;
}

.dock-title-label {
	/*-fx-graphic: url(docknode.png);*/
	-fx-padding: 0.0 0.0 3.0 0.0;
	-fx-text-fill: -fx-text-base-color;
	-fx-effect: dropshadow(gaussian, rgba(255.0, 255.0, 255.0, 0.2), 0.0,
		0.0, 0.0, 1.0);
}

/* We want small buttons for our dock's title bar
 * but we have to make sure that the top and bottom
 * are a good ratio of the left and right padding.
 * If not we get extra padding on the bottom when the
 * button is hovered, some factor of the default style's
 * excessively wide buttons.
 */

/* Set the icons for the dock title bar's buttons here. */
.dock-state-button {
	-fx-graphic: url(../styles/flat-dark/icons/restore-win.png);
	-fx-background-color: transparent;
}

.dock-node:floating .dock-state-button {
	-fx-graphic: url(../styles/flat-dark/icons/maximize-win.png);
	-fx-background-color: transparent;
}

.dock-node:maximized .dock-state-button {
	-fx-graphic: url(../styles/flat-dark/icons/restore-win.png);
	-fx-background-color: transparent;
}

.dock-close-button {
	-fx-graphic: url(../styles/flat-dark/icons/close-win.png);
	-fx-background-color: transparent;
}

.vbox {
	-fx-background-color: transparent;
}

.hbox {
	-fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.text-field {
	-fx-background-color: transparent;
	-fx-border-color: lightgray;
	-fx-border-width: 0.0 0.0 2.0 0.0;
}

.text-field:focused {
	-fx-border-color: -fx-accent;
}

.text-area {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0.0 0.0 0.0 0.0;
	-fx-prompt-text-fill: derive(-fx-base,80%);
	-fx-padding: 0;

}

/*.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}*/
.text-area .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}

.text-area .content {
	-fx-background-color: transparent;
	-fx-border-color: lightgray;
	-fx-border-width: 0.0 0.0 2.0 0.0;
	-fx-padding: 0 5 0 5;
}

.text-area:focused .content {
	-fx-border-color: -fx-accent;
	-fx-border-width: 0.0 0.0 2.0 0.0;
}

.tab-pane {
	-fx-tab-min-width: 2.0em;
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: transparent;
}

.tab {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}


.label {
	-fx-fill:black;
	-fx-text-fill:black;
}
.tab .tab-label {
	-fx-alignment: CENTER;
}

.tab:selected .tab-label {
	-fx-alignment: CENTER;
}

.tab-content-area {
	-fx-padding: 4.0;
	-fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}
.separator *.line { 
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-border-radius: 2.0em;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button
	{
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 0.0 5.0 0.0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button
	{
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 5.0 0.0 0.0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow
	{
	-fx-shape: " ";
	-fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
	-fx-background-color: derive(black, 90.0%);
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
	-fx-background-color: derive(BLACK, 70.0%);
	-fx-background-insets: 2.0;
	-fx-background-radius: 2.0em;
}


.button {
	-fx-background-color: transparent;
}
.button:hover {
	-fx-background-color: -fx-focus-color;
}

.button:focused {
    -fx-background-color: -fx-focus-color; 
}
.button:default {
    -fx-base: -fx-accent ;
} 

.split-pane {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.split-pane:horizontal>.split-pane-divider {
	-fx-padding: 1.0;
}

.split-pane:vertical>.split-pane-divider {
	-fx-padding: 1.0;
}


.combo-table-view{/*optional */
    /*i only use this style when a table-view has to emulate a combo-box or auto-complete look, by making the non focused color same as the focused one*/
    -fx-selection-bar: -fx-accent;
}


.tree-view {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: transparent, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.list-view {
    -fx-background-color: transparent, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
	-fx-faint-focus-color: transparent;
}


.table-view {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: transparent, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.table-view .column-header .label{
    -fx-font-weight: none;
}

.table-row-cell:even{
    -fx-control-inner-background: derive(-fx-base, 23%);
}

.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 0%);
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}


.combo-box-base {
	-fx-background-color: transparent;
	-fx-border-radius: 0.0;
	-fx-border-width: 0.0 0.0 2.0 0.0;
	-fx-border-color: -fx-base;
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
}

.combo-box-base:focused {
	-fx-background-color: transparent;
	-fx-border-radius: 0.0;
	-fx-border-width: 0.0 0.0 2.0 0.0;
	-fx-border-color: -fx-accent;
}

.combo-box-popup .list-view .list-cell:filled:hover {
	-fx-background-color: -fx-accent;
}
.combo-box .list-view:focused .list-cell:selected {
	-fx-background-color: -fx-accent;
	-fx-text-fill:white;
	-fx-table-cell-border-color: -fx-accent;
}
.lineno {
 -fx-background-color: derive(-fx-base, 27%);
}

.styled-text-area{
  -fx-background-color: derive(-fx-base, 27%);
}

.styled-text-area .text{
  -fx-fill: black;
  -fx-font-family: "Noto Sans";
}

.styled-text-area .text.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.styled-text-area .text.function {
	-fx-fill: blue;
	-fx-font-weight: bold;
}

.styled-text-area .text.semicolon {
    -fx-fill: #a678c2;
    -fx-font-weight: bold;
}

.styled-text-area .text.paren {
    -fx-fill: black;
    -fx-font-weight: bold;
}

.styled-text-area .text.bracket {
    -fx-fill: black;
    -fx-font-weight: bold;
}

.styled-text-area .text.brace {
    -fx-fill: black;
    -fx-font-weight: bold;
}

.styled-text-area .text.string {
    -fx-fill: blue;
}

.styled-text-area .text.string2 {
    -fx-fill: blue;
}

.styled-text-area .text.todo {
 	-fx-fill: #40E0D0;
 	-fx-font-weight: bold;
}

.styled-text-area .text.warn {
  	-fx-fill: #FF0000;
  	-fx-font-weight: bold;
}

.styled-text-area .text.comment {
 	-fx-fill: #C0C0C0;
}

.styled-text-area .text.annotation {
	-fx-fill: #69d7ee;
	-fx-font-weight: bold;
}

.styled-text-area .text.cast {
	-fx-fill: #65d8ee;
}

.styled-text-area .text.operation {
  -fx-fill: #e17b20;
}

.styled-text-area .text.hex{
  -fx-fill: #ff5555;
}

.styled-text-area .text.number{
  -fx-fill: purple;
}

.styled-text-area .text.method{
  -fx-fill: black;
}

.paragraph-box:has-caret {
   -fx-background-color: derive(-fx-base,40%);
}

.caret {
   -fx-stroke: black;
}


.popover  {
	-fx-background-color: derive(-fx-base,40%);
}

.popover > .border {
	-fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7)) ;
	-fx-stroke-width: 0.5;
	-fx-fill: rgba(255.0,255.0,255.0, .95);
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}

.popover > .content {
		-fx-background-color: derive(-fx-base,40%);
		-fx-padding: 10.0;
}

.popover > .detached {
}

.popover > .content > .title > .text  {
	-fx-padding: 6.0 6.0 0.0 6.0;
	-fx-text-fill: rgba(120, 120, 120, .8);
	-fx-font-weight: bold;
}

.popover > .content > .title > .icon {
	-fx-padding: 6.0 0.0 0.0 10.0;
}

.popover > .content > .title > .icon > .graphics > .circle {
	-fx-fill: gray ;
	-fx-effect: innershadow(gaussian, rgba(0,0,0,.2), 3, 0.5, 1.0, 1.0);
}

.popover > .content > .title > .icon > .graphics > .line {
	-fx-stroke: #ededed ;
	-fx-stroke-width: 2;
}



